ipython==8.10.0
ipython-genutils==0.2.0
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.3
scipy==1.4.1
seaborn==0.10.1
statsmodels==0.11.1
scikit-learn==0.23.1
jupyter==1.0.0
pingouin==0.3.7
scikit-posthocs==0.6.5
